<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title>Home</title>
</head>
<body>
    <div id="wrapper">
        <div id="header-wrapper" th:replace="layout :: site-header" />
        <div id="page" class="container" th:fragment="layout :: site-content">
            <div id="content" >
                <div class="title">
                    <h2>Expansion List</h2>
                </div>

                <form action="/expansion/create" method="post">
                    <label for="expansionId">Expansion Id:</label>
                    <input type="text" id="expansionId" name="expansionId" /><br /><br />
                    <label for="name">Search Name:</label>
                    <input type="text" id="name" name="name" /><br /><br />
                    <label for="ptBrName">Portuguese Name:</label>
                    <input type="text" id="ptBRName" name="ptBrName" /><br /><br />
                    <label for="linkName">Link Name:</label>
                    <input type="text" id="linkName" name="linkName" /><br /><br />
                    <label for="code">Code:</label>
                    <input type="text" id="code" name="code" /><br /><br />
                    <label for="launchDate">Launch Date:</label>
                    <input type="text" id="launchDate" name="launchDate" /><br /><br />
                    <label for="expansionCategoryId">Expansion Category ID:</label>
                    <input type="text" id="expansionCategoryId" name="expansionCategoryId" /><br /><br />
                    <label for="isPromo">Promo:</label>
                    <input type="text" id="isPromo" name="isPromo" /><br /><br />
                    <label for="isLegal">Legal:</label>
                    <input type="text" id="isLegal" name="isLegal" /><br /><br />

                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div th:replace="layout :: site-scripts" />
    </div>
</body>
</html>
