<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title>Home</title>
</head>
<body>
    <div id="wrapper">
        <div id="header-wrapper" th:replace="layout :: site-header" />
        <div id="page" class="container" th:fragment="layout :: site-content">
            <div id="content" >
                <h1>Welcome to Spring MVC</h1>
                Now is: <b th:text="${execInfo.now.time}"></b>
            </div>
        </div>
    </div>
</body>
</html>
